@using Nalaab.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - نلعب</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet"
          href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
          integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet"></link>

</head>
<body style="font-family:Cairo; font-size:larger;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>نلعب</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                   

                    <ul class="navbar-nav flex-grow-1" style="font-size:larger;">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a>
                        </li>
                        @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    إدراة المحتوى
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">التصنفيات</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="AgeGroup" asp-action="Index">الفئات العمرية</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">المنتجات</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Coupon" asp-action="Index">أكواد الخصم</a>
                                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">المستخدمين</a>
                                    }
                                </div>
                            </li>

                        }
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="Admin" asp-controller="Order" asp-action="Index">
                            @if (User.IsInRole(SD.Role_Employee) || User.IsInRole(SD.Role_Admin))
                            {
                                <span>إدراة الطلبات</span>
                            }
                            else
                            {
                                <span>طلباتي</span>
                            }
                        </a>
                    </li>
                       


                        @if (HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart) != null)
                        {
                            <li style="color:white;">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="navbar-brand">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.GetInt32(SD.ssShoppingCart);
                                    }
                                    <i class="fas fa-shopping-cart"></i> &nbsp; (@count)
                                </a>
                            </li>
                        }
                        else
                        {
                            <li style="color:white;">
                                <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="navbar-brand">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    &nbsp; (0)
                                </a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="position: relative; min-height: 100vh;">
        <main role="main" class="pb-3" style="padding-bottom: 2.5rem;">
            
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    
    

    <footer class="border-top footer bg-primary text-white-50">
        <div class="row">
            <div class="col-3">
                <div class="text-white container mr-1">
                    <span style="font-size:larger">&copy;</span>
                    تطوير: م.بدر بن حميد
                </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 text-center">
                <a class="p-1" target="_blank" href="https://twitter.com/5Badr"><i class="fa fa-twitter text-white" aria-hidden="true"></i></a>
                <a class="p-1" target="_blank" href="https://github.com/badr-salem">
                    <i class="fa fa-github text-white" aria-hidden="true"></i>
                </a>
                <a class="p-1" target="_blank" href="https://www.linkedin.com/in/badr-binhomeed/">
                    <i class="fa fa-linkedin-square text-white" aria-hidden="true"></i>
                </a>
            </div>
        </div>
       
    </footer>

    <script src="https://cdn.rtlcss.com/bootstrap/v4.2.1/js/bootstrap.min.js"
            integrity="sha384-a9xOd0rz8w0J8zqj1qJic7GPFfyMfoiuDjC9rqXlVOcGO/dmRqzMn34gZYDTel8k"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @RenderSection("Scripts", required: false)




</body>

</html>