@model Nalaab.Models.ViewModels.ProductVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "إضافة منتج";
}


<form method="post" enctype="multipart/form-data">
    
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Product.Id != 0)
        {
            //edit
            title = "تعديل المنتج";
            <input type="hidden" asp-for="Product.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            @if (Model.Product.Id != 0)
            {
                <div class="col-3 offset-1 pt-4 pb-3 align-content-center">
                    <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            }

            <div class="form-group row">
                <div class="col-4">
                    إسم المنتج
                </div>
                <div class="col-8">
                    <input asp-for="Product.Title" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    التصنيف
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.CategoryId, Model.CategoryList, "-- إختر تصنيف المنتج --",
                   new { @class = "form-control" })
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    الفئة العمرية
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.AgeGroupId, Model.AgeGroupList, "-- إختر الفئة العمرية --",
                   new { @class = "form-control" })
                    <span asp-validation-for="Product.AgeGroupId" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    وصف المنتج
                </div>
                <div class="col-8">
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    شركة الإنتاج
                </div>
                <div class="col-8">
                    <input asp-for="Product.ProductionCompany" class="form-control" />
                    <span asp-validation-for="Product.ProductionCompany" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    السعر
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-4">
                    الصورة
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">إضافة</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">العودة للقائمة</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
       
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "فضلا قم بإختيار صورة", "error");
                return false;
            }
            return true;
        };
    </script>
}